<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.circlechat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="CircleChatApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CircleChat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".api.FirebaseNotificationService"
            android:enabled="true"
            android:exported="true">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
        </service>

        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".AddContactActivity"
            android:exported="true" />
        <activity
            android:name=".ChatListActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"

            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>